<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Control Type</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>externalControl</string>
			<key>Title</key>
			<string>External Controls</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>iCade</string>
				<string>iCade mobile</string>
			</array>
			<key>Title</key>
			<string>Control Device</string>
			<key>Key</key>
			<string>externalControlType</string>
			<key>DefaultValue</key>
			<string>icade</string>
			<key>Values</key>
			<array>
				<string>icade</string>
				<string>icadeMobile</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
